// Colors

$splash_background_color: #fb453f;

$brand_color: #222222;

$background_color: black;


$background_tint_color: #eeeeee;
$background_tint_color_strong: #cccccc;

$container_background: black;

$track_background_color: rgba(0,0,0, 0.3);
$sidebar_color: #f9f9f9;

$accent_color: #fe2851;
$secondary_color: #aaaaaa;
$indiscreet_hover_color:grey;
$tertiary_color: #666666;

$text_color:white;
$text_color_strong: white;
$text_color_weak: white;


$player_button_color: white;
$player_secondary_button_color:white;
$player_volume_container_color: rgba(255, 255, 255, 0.7);

$placeholder_container_color: #cccccc;
